h1{background-color: antiquewhite;}
h1{color: blue;}
h1{text-align: center;}
h2{background-color: aquamarine;}
h2{color: darkgreen;}
h2{text-align: center;}
p{color: rgb(6, 5, 104);}
p{font-style: normal;}
p{font-size: large;}
table,td,th{border: 1px;}
head{font-size: large;}
head{text-align: center;}
body{background-color: aquamarine;}